@font-face {
  font-family: "iconfont"; /* Project id 4496534 */
  src: url('iconfont.woff2?t=1712563323480') format('woff2'),
       url('iconfont.woff?t=1712563323480') format('woff'),
       url('iconfont.ttf?t=1712563323480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e65a";
}

.icon-shouji:before {
  content: "\e638";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-ff6e43:before {
  content: "\e61f";
}

.icon-wenhaobangzhu-yuankuang:before {
  content: "\e761";
}

.icon-search:before {
  content: "\e62d";
}

.icon-cloud-upload:before {
  content: "\e7d9";
}

